/* body.dark {
    background-color: #202020;
}

body {
    transition: 0.5s ease-in-out;
}

.box {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    outline: 1px solid #000;
    position: relative;
}

.check {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    outline: 1px solid black;
    transition: 0.5s;
}

.active {
    transform: translateX(60px);
} */

.form-js{
    width: 400px;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 40px;
    outline: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.input-name,.input-email,.input-tel{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: 1px solid gray;
    border: none;
    padding-left: 20px;
}

.coment-js{
    width: 100%;
    height: 100px;
    resize: none;
    outline: 1px solid gray;
    padding-left: 20px;
    border: none;
}

.btn-submit{
    width: 200px;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    display: block;
    margin: 0 auto;
}